/* Andy Bells reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: 1px solid red;
}

/* Remove default margin */
*,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  margin-block-end: 0;
  margin-inline: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
  padding: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 1920px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding-inline: 4rem;
}

p {
  font-size: large;
}

/* header */
.navbar {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  margin-inline: auto;
}

#nav-images {
  display: flex;
  gap: 1rem;
}

.background-bar {
  background-color: orangered;
  height: 2px;
}

/* carousel */
.carousel {
  margin-top: 2rem;
  height: 20rem;
}

    /* card slider */

    .container-block {
      display: block;
      margin: auto;
      padding-top: 2rem;
      justify-content: center;
      min-width: 1200px;
      width: 95%;
    }

    .slider-wrapper {
      position: relative;
    }

    .slider-wrapper .slide-button {
      position: absolute;
      top: 40%;
      height: 50px;
      width: 50px;
      border: 1px solid #000;
      background: #fff;
      cursor: pointer;
      border-radius: 50%;
    }

    .slider-wrapper .slide-button:hover {
      background: lightgray;
    }

    .slider-wrapper .slide-button#prev-slide {
      left: -25px;
    }

    .slider-wrapper .slide-button#next-slide {
      rotate: 180deg;
      right: -25px;
    }

    .slider-wrapper .carousel-list {
      display: grid;
      grid-template-columns: repeat(30, 1fr);
      gap: 1rem;
      overflow-x: auto;
      scrollbar-width: none;
      margin-bottom: 30px;
    }

    .carousel-list::-webkit-scrollbar {
      display: none;
    }

    .slider-wrapper .carousel-list .carousel-item {
      min-width: fit-content;
      border-radius: 8px;
      height: 340px;
      object-fit: cover;
    }

    .slider-scrollbar {
      height: 24px;
      width: 100%;
    }

    .slider-scrollbar:hover .scrollbar-track {
      height: 4px;
    }

    .scrollbar-track {
      height: 2px;
      width: 100%;
      background: #ccc;
      position: relative;
      border-radius: 4px;
    }

    .slider-scrollbar .scrollbar-thumb:active {
      cursor: grabbing;
      height: 8px;
      top: -2px;
    }

    .scrollbar-thumb {
      position: absolute;
      height: 100%;
      width: 50%;
      background: #000;
      border-radius: inherit;
      cursor: grab;
    }

    .scrollbar-thumb::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      bottom: -10px;
    }

/* info block */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding-block: 5rem;
}

.button-position {
  display: flex;
  justify-content: right;
  padding: 8px 8px 1rem 0;
}

.news-button,
#shop-button {
  background-color: #0d0907;
  color: whitesmoke;
  border-radius: 4px;
  padding: 8px;
  padding-inline: 7rem;
  font-size: 1.5rem;
  border: 1px solid black;
}

button.news-button:hover,
button#shop-button:hover {
  cursor: pointer;
  background-color: orangered;
  color: white;
}

.text-container {
  margin-inline: 4rem;
  padding-inline: 8px;
  background-color: #928157;
  color: whitesmoke;
  margin-top: 8px;
  border: 1px solid #6d6041;
  border-radius: 2px;
}

.text-block-style {
  color: whitesmoke;
  margin-left: 8px;
  margin-bottom: 8px;
}

/* championship image */
#championship-img {
  height: 30rem;
}

/* top deck images */
#top-decks {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: 1rem;
}

.top-deck-img {
  border-radius: 15px;
  height: 25rem;
  min-width: 15rem;
}

/* deck of the week */
#deck-of-week {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: 1rem;
}

.deck-week-img {
  border-radius: 15px;
  height: 25rem;
  min-width: 15rem;
}

/* set image */
#set-image {
  margin-top: 2rem;
}

.signup-button:hover {
  cursor: pointer;
  background-color: orangered;
  color: white;
}

/* footer */
.footer-div {
  padding-left: 3rem;
  padding: 2rem 10rem 6rem 10rem;
  background-color: #0d0907;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  justify-content: right;
}

.social-icons {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.fill:hover {
  fill: orangered;
}

.connect {
  display: flex;
  justify-content: right;
}

#cart-amount {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 1.3rem;
  /* visibility: hidden; */
}

/* add to cart button */

.add-to-cart-button {
  background: #e6a247;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  justify-content: space-around;
  min-width: 195px;
  overflow: hidden;
  outline: none;
  margin-top: 8px;
  padding: 0.4rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.4s ease;
  width: auto;
}
.add-to-cart-button:active {
  box-shadow: 0 0 0 0.2rem rgba(252, 186, 3, 0.45);
  transform: translateY(4px);
}
.add-to-cart-button:hover {
  cursor: pointer;
}

.add-to-cart-button.added {
  background: #2fbf30;
}
.add-to-cart-button.added .add-to-cart {
  display: none;
}
.add-to-cart-button.added .added-to-cart {
  display: block;
}
.add-to-cart-button.added .cart-icon {
  animation: drop 0.3s forwards;
  -webkit-animation: drop 0.3s forwards;
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}
.add-to-cart-button.added .box-1,
.add-to-cart-button.added .box-2 {
  top: 18px;
}
.add-to-cart-button.added .tick {
  animation: grow 0.6s forwards;
  -webkit-animation: grow 0.6s forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.add-to-cart,
.added-to-cart {
  margin-left: 36px;
}

.added-to-cart {
  display: none;
  position: relative;
}

.add-to-cart-box {
  height: 5px;
  position: absolute;
  top: 0;
  width: 5px;
}

.box-1,
.box-2 {
  transition: 0.4s ease;
  top: -8px;
}

.box-1 {
  left: 23px;
  transform: rotate(45deg);
}

.box-2 {
  left: 32px;
  transform: rotate(63deg);
}

.cart-icon {
  left: 15px;
  position: absolute;
  top: 8px;
}

.tick {
  background: #146230;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  transform: scale(0);
  top: 5px;
  z-index: 2;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1px);
  }
}
@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1px);
  }
}

/* Login Page */

.login-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-inline: 10rem;
  padding-top: 5rem;
}

.login-block {
  background-color: #ff4400a8;
  border-radius: 8px;
  padding-inline: 4rem;
  width: 49%;
  height: 30rem;
}

.signup-button {
  background-color: transparent;
  color: black;
  border-radius: 2rem;
  padding: 8px;
  padding-inline: 7rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid black;
}

.login-user-pass {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.login-user-pass input {
  border-radius: 8px;
  border: none;
  font-size: larger;
  padding-block: 12px;
  padding-inline: 12px;
}

/* shop catalog */

.shop-block {
  padding-left: 20rem;
  padding-top: 10rem;
}

.shop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
  padding-left: 8rem;
}

.child {
  display: flex;
  width: 18rem;
  height: 18rem;
}

.card-info {
  min-width: fit-content;
}

/* cart page */

.cart-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-inline: 10rem;
  padding-top: 5rem;
}

.cart-block {
  background-color: #ff4400a8;
  border-radius: 8px;
  padding-inline: 1rem;
  width: 100%;
  height: 100%;
}

.total-block {
  background-color: #ff4400a8;
  border-radius: 8px;
  padding-inline: 4rem;
  width: 30%;
  height: 30rem;
}

/* viewport breakpoints */

/* media 1366 */
@media (max-width: 1366px) {
  .carousel-container {
    max-width: 100%;
  }

  .text-container {
    margin-inline: 0;
  }

  .footer-div {
    padding: 2rem 6rem 6rem 10rem;
  }
}
/* media 1200 */
@media (max-width: 1200px) {
  .text-container {
    margin-inline: auto;
    font-size: 1.5rem;
    min-width: 50rem;
    max-width: 50rem;
  }

  .footer-div {
    padding: 2rem 4rem 6rem 0rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    padding-block: 5rem;
  }

}
/* media 768 */
@media (max-width: 768px) {
  .slider-wrapper .carousel-list .carousel-item {
    height: 240px;
  }

  .text-container {
    margin-inline: auto;
    font-size: 1rem;
    min-width: 30rem;
    max-width: 35rem;
  }

  .footer-div {
    padding: 2rem 4rem 4rem 0rem;
  }
}

/* media 576 */
@media (max-width: 576px) {
  .slider-wrapper .carousel-list .carousel-item {
    height: 300px;
  }

  .slider-wrapper .carousel-list {
    gap: 1rem;
  }

  #shop-button {
    padding-inline: 5rem;
    font-size: 1.3rem;
  }

  .container {
    padding-inline: 1rem;
  }

  .text-container {
    margin-inline: auto;
    font-size: 1rem;
    min-width: 20rem;
    max-width: 20rem;
  }

  .footer-div {
    padding: 2rem 4rem 4rem 0rem;
  }
}

/* media 360 */
@media (max-width: 360px) {
  #nav-images {
    gap: 0rem;
  }

  .slider-wrapper .carousel-list .carousel-item {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    height: 435px;
  }

  .slider-wrapper .carousel-list {
    gap: 0;
  }

  #shop-button {
    padding-inline: 4rem;
  }
}